export PROJECT_DIR=${PWD}
export SECRETS_DIR=${PROJECT_DIR}/secrets

PATH=${PROJECT_DIR}/bin:${PATH}

watch_file "${SECRETS_DIR}/bootstrap.kubeconfig"
if [ -f "${SECRETS_DIR}/bootstrap.kubeconfig" ] ; then
  export KUBECONFIG="${SECRETS_DIR}/bootstrap.kubeconfig"  
fi

export PARAMS_YAML=${SECRETS_DIR}/local-config.yml
