export PROJECT_DIR=${PWD}
export SECRETS_DIR=${PROJECT_DIR}/secrets
export WORK_DIR=${PROJECT_DIR}/work

PATH=${PROJECT_DIR}/bin:${PATH}

watch_file "${SECRETS_DIR}/kubeconfig"
if [ -f "${SECRETS_DIR}/kubeconfig" ] ; then
  export KUBECONFIG="${SECRETS_DIR}/kubeconfig"  
fi

export PARAMS_YAML=${SECRETS_DIR}/lab.yml
